In [33]:
import pprint as pp
import json
from pathlib import Path
import pandas as pd

In [34]:
twitter_hose = Path('../../../data/dirty/pushshift.io/twitter/samplehose_hourly/SH_tweets_2019-10-05-01_filtered.json')

In [37]:
all_tweets = []

with open(twitter_hose, encoding='utf-8') as f:
    for line in f:
        data = json.loads(line)
        #pp.pprint(data)
        #break
        
        captured_fields = {
        "created_at" : data['created_at'],
        "screen_name" : data['user']['screen_name'],
        "full_text" : data['text'],
        }
        
        if 'extended_tweet' in data:
            captured_fields['full_text'] = data['extended_tweet']['full_text']
        
        all_tweets.append(captured_fields)

In [39]:
#pp.pprint(all_tweets)
df = pd.DataFrame(all_tweets)
df.head()

,created_at,full_text,screen_name
0,Sat Oct 05 01:32:28 +0000 2019,#Disney is hiring a Digital #Sales #Planner (...,BethMerrick5
1,Sat Oct 05 01:32:30 +0000 2019,https://t.co/yLtd6MyTkd,janeth_elizabet
2,Sat Oct 05 01:32:40 +0000 2019,@realDonaldTrump @FoxNews https://t.co/vk7ct7Ats3,Twilliams1991
3,Sat Oct 05 01:33:02 +0000 2019,And now the BIG DAWG Roman Reigns #SmackDown,SPBITW9
4,Sat Oct 05 01:33:11 +0000 2019,RT @basicsmood: https://t.co/mSGpPKuI7E,mrgsjnvrro

In [42]:
df[df['full_text'].str.contains('crypto')]

,created_at,full_text,screen_name
32,Sat Oct 05 01:35:02 +0000 2019,RT @XRPcryptowolf: 200 $XRP #GIVEAWAY\n\nSpons...,toanphamhd
147,Sat Oct 05 01:45:44 +0000 2019,RT @JessumDoode: @22centurycrypto Separate CSW...,23pluton
161,Sat Oct 05 01:46:47 +0000 2019,RT @cryptounfolded: #Bitcoin Twitter mentions ...,chrismezzz
198,Sat Oct 05 01:50:08 +0000 2019,@coincodecap @ParticlProject It's amazing ! I ...,JeremyS24205084

In [43]:
df[df['full_text'].str.contains('BTC')]

,created_at,full_text,screen_name
50,Sat Oct 05 01:36:43 +0000 2019,üåàWorld's First‚Äºüåà\n\nGold price link BTC 100% s...,chiaki95159
149,Sat Oct 05 01:46:06 +0000 2019,Ë≤∑„ÅÑ„ÅåÂº±„Åè„Å™„Å£„Å¶„ÇãÔºü\n„Åì„Çå„ÅÆË¶ãÊñπÊú™„Å†ËâØ„ÅèÁêÜËß£Âá∫Êù•„Å¶„ÅÑ„Å™„ÅÑ\n#BTC https://t....,qnfb0YWbXPmcWqo
225,Sat Oct 05 01:52:35 +0000 2019,@doug3rd @princeantenor @brucefenton It may no...,beernameno

In [44]:
df[df['full_text'].str.contains('ETH')]

                         created_at                     full_text screen_name
117  Sat Oct 05 01:42:03 +0000 2019  @jasminexETH got finessed...      773Emo